torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
filterpy
trimesh
embreex
verboselogs
coloredlogs

addict
filterpy
ipdb
lap
loguru
matplotlib
mmdet
motmetrics
networkx
numpy
pandas
Pillow
psutil
PyYAML
Requests
scipy
Shapely
skimage
sympy
torch
torch_geometric
torch_scatter
torchreid
torchvision
tqdm
trimesh
